/* removing website basic styles */

* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(13, 19, 33);
}


html {
    scroll-behavior: smooth;
}

/* shared styles */
.primary-color {
    color: #0D1321;
}
.text-center {
    text-align: center;
}
.btn-hover:hover {
    background-color: rgb(13, 19, 33);
    color: white;
    transition: all 0.3s;
}
p {
    font-size: 16px;
    color: rgb(13, 19, 33);
    letter-spacing: 0;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.7;
}
.name {
    font-size: 28px;
    color: #0D1321;
    font-weight: 800;
}


/* short styles */
.css-color {
    background: rgba(0, 76, 232, 0.05);
}
/* navbar styles */
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    margin: 0 150px;
}
nav ul li{
    list-style: none;

}
nav ul li a  {
    text-decoration: none;
}

.btn {
    padding: 17px 24px 17px 24px;

    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(13, 19, 33);

    
}
.btn-nav {
 
    border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
background-color: white;
}
.btn-dark {
    background-color:  rgb(13, 19, 33);
    color: white;
    border-radius: 8px;
    border: 1px solid rgb(13, 19, 33);
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* banner section */
.banner {
    background-image: url('../img/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 652px;
    
}

.banner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:24px;
}
.banner-title {
    font-size: 48px;
    text-align: center;
    letter-spacing: 0%;
}

.banner-description {
    margin-inline: 24px;
    text-align: center;
}

/* main */
main {
    margin: 74px 152px  0 148px;

}

.hero-container > div {
    margin: 48px;
    text-align: center;
}

.hero-title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.flex-group{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-child {
    padding: 45px 0;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
    align-items: start ;
}
.flex-container-title {
    font-size: 28px;
    color: rgba(13, 19, 33, 0.7);
}

/* INSPIRATION SECTION */
.inspiration-section {
    text-align: center;
    margin-bottom: 150px;
}
.inspiration-section > div {
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
}
.inspiration-title {
    font-size: 32px;
    margin-bottom: 24px;
}


/* my current target section */
.my-target-section {
    margin-bottom: 24px;
}
.my-target-section > div {
    margin: 0px 100px 48px 100px;
}
.my-target-section > div > h3 {
    font-size: 32px;
    margin-bottom: 24px;

}

.my-target-section > .flex {
    gap: 24px;
}
.my-target-section > .flex > div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
    width: 100%;
}
.btn-special {
    border: none;
    text-decoration: underline;
    padding: 0;
}


/* footer */
footer {
    background-color: rgba(0, 0, 0,0.3);
    background-image: url('../img/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 314px;
    width: 100%;
    border-radius: 8px;
    background-blend-mode: overlay;
}
footer > div {
    padding: 64px 48px;
    text-align: center;


}

footer > div > h4  {
    font-size: 32px;
    color: white;
    margin-bottom: 16px;
}

footer > div > p {
    color: white;
    margin-bottom: 24px;
}

footer input {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    padding: 19px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-footer {
    border: none;
    border-radius: 8px;
    padding: 14px;
}